.login-panel {

  .panel-heading {
    background-color: $black;
  }

  .form-error-msg {
    text-align: center;
    color: $red;
  }
  
  .panel-heading {
    text-align: center;
  }

  .panel-body {
    margin: 0 8px;
  }
}