.profilePic-container {
  background-color: $lightgray;
  height: 220px;
}

.report_basic-information {
  .panel-body {
    padding: 0;
  }
  
  .report-pics {
    margin-bottom: 15px; 
  }
}

.social-link {
  font-size: 25px;

  .fa-facebook-square {
    color: $facebook;
  }

  .fa-twitter-square {
    color: $twitter;
  }

  .fa-linkedin {
    color: $linkedin;
  }
}