// Colors
$black: #0e0b16;
$fucsia: #a239ca;
$blue: #4717f6;
$green: #5cb85c;
$green-gray: #577757;
$red: #a94442;
$gray: #e7dfdd;
$lightgray: #e2e2e2;
$white: #fff;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #0077b5;

// Margin 
$sm-size: 12px;
$md-size: 15px;
$lg-size: 25px;
